.friend{
    height:130px;
    text-align: center;
    font-weight: bold;
    }

    .friend a{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }

.circle{
    height:100px;
    width:100px;
    border-radius: 50%;
    box-shadow:2px 3px rgb(192, 192, 192);
    border:1px solid rgb(192, 192, 192);
margin-bottom:5px;
overflow: hidden;
background-color:white;
}

.circle img{
    width:100%;
}


.friends_name{
    bottom:0;
}
