.profileDataForm{
    display:block;
padding:15px;

}

.profileDataForm > div{    /* select only direct children */
    width:fit-content;
    font-size: 17px;
    margin-bottom: 10px;
}

.profileDataForm input, .profileDataForm textarea{
    width:300px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 17px;
     outline: none;
}

.lookingForAJob > div{
margin-left:10px;
}

.lookingForAJob input{
    width:20px;
}

.lookingForAJob, .lookingForAJob > div{
    display: inline-block;

}

.contacts{

}

.contact_item{
    display:block;
}

.buttons{
    display:flex;
    justify-content: center;
}

.submitButton{
    cursor: pointer;
    display:inline-block;
    width:fit-content;
    padding:5px;
    border-radius: 25%;
    box-shadow:2px 3px rgb(93, 96, 236);
    border:1px solid rgb(192, 192, 192);
    background-color: rgba(251, 252, 250, 0.5);
    font-size: 17px;
    color:rgb(9, 1, 1);
    font-weight: bold;
    position:relative;
}

.discardButton{
    cursor: pointer;
    display:inline-block;
    width:fit-content;
    padding:5px;
    border-radius: 25%;
    box-shadow:2px 3px rgb(240, 29, 6);
    border:1px solid rgb(192, 192, 192);
    background-color: rgba(251, 252, 250, 0.5);
    font-size: 17px;
    color:rgb(9, 1, 1);
    font-weight: bold;
    position:relative;
    margin-left:90px;
}



.photoUpload{
    display: block;
    width: 30px;
    height:30px;
    position: absolute;
    left:145px;
    top:-5px;
     background-color: rgba(255, 255, 255, 0.6);
     border-radius: 45px;
background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Ic_settings_48px.svg/2048px-Ic_settings_48px.svg.png) ;
background-size: contain;
background-position: 0 0;
background-repeat: no-repeat;
cursor: pointer;
}
.inputFile {
    display: none;
}
