.nav_bar{
    padding:10px;
    grid-area:side_bar;
    background-color:#cfeef3;
    border-radius: 20px;
    box-shadow:2px 3px rgb(192, 192, 192);
  
}

 .noBar{
  padding:10px;
  grid-area:side_bar;
  background-color:#cfeef3;
  border-radius: 20px;
  box-shadow:2px 3px rgb(192, 192, 192);
} 




@media (max-width: 768px){ 
.nav_bar{
  /* display:none; */
 position:fixed;
  top:5px;
  right:7px;
  grid-area: none;
  z-index:9;
  background-color:rgb(243, 247, 55);
  padding-top:60px;
}


.noBar{
  display:none;
}




.MyFriends{
  display:none;
}

}

.item{
    margin: 5px 0px;
    padding:5px 5px 5px 10px;
    font-size:30px;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    box-shadow:2px 3px rgb(192, 192, 192);
    color:black;
    border: 2px solid rgb(243, 247, 55);
}

.item:hover{
  background-color: rgb(250, 248, 125);
}

.item.login{
  border: 2px solid rgb(247, 84, 55);
}

.activeLink{
    color:rgb(255, 145, 1);
    text-decoration: none;
  }
  
  .notActiveLink{
color:black;
text-decoration: none;
  }


.logOut, .logIn{
  cursor: pointer;
  text-decoration-line: underline;
  position:relative;
}

.logOut:after{
  content:"";
  position:absolute;
 background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_logOut-ltr.svg/1024px-OOjs_UI_icon_logOut-ltr.svg.png")  no-repeat center center/cover;
   width:25px;
  height:25px; 
  top:12px;
  left:110px;
}

.logIn:after{
  content:"";
  position:absolute;
 background: url("https://cdn-icons-png.flaticon.com/512/152/152532.png")  no-repeat center center/cover;
   width:25px;
  height:25px; 
  top:12px;
  left:90px;
}


  
.friends{
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 140px;
  max-height:400px;
  overflow-y:hidden;
  width:70%;
  gap:6px;
  padding:6px;
  margin:0 auto;
}

.friends:hover{       /* to make :hover work i had to specify it right after the word .friends:hover   but it did not work properly when I had a space between them  .friends :hover */
  overflow-y: auto;
}





.BestFriends{
  text-align: center;
font-size:25px;
color:lightslategrey
}