.item{

}

.item img{
    width:100px;
    border-radius: 50%;
  }

.item .pick{
width:fit-content;
margin:10px;}





  .item .receivedText{
      width:80%;
      font-size:25px;
      font-family:'Trebuchet MS', sans-serif;
      padding:5px;
      border-radius:20px;

  }