.App{

margin:0 auto;
display:grid;
width:80%;
grid-gap:10px;

    grid-template-rows:60px 1fr ;
    grid-template-columns:200px 1fr ;

    grid-template-areas:
    "header header"
    "side_bar body"
    ;
  
}

.body_wrapper{
    padding:10px;
    grid-area:body;
    background-color:thistle;
}