*,*:before,*:after{
    box-sizing: border-box;}

.content{
    display:grid;
    grid-template-columns:minmax(100px,310px) minmax(300px,600px);
    grid-template-rows: minmax(200px,700px);
    gap:30px;
}

.listOfDialogs{
    display:block;
    padding:6px;
    overflow: auto;
    min-width:100px;
}


.messenger{
    font-family: "Trebuchet MS"; 
    background-image: url(https://e7.pngegg.com/pngimages/758/386/png-clipart-simple-white-honeycomb-pattern-background-white-polygon.png);
    background-position: right;
    background-size:cover;
   padding: 10px 10px 10px 10px;
   box-shadow:2px 3px rgb(192, 192, 192);
   border:1px solid black;
   border-radius:15px;
   display: grid;
   grid-template-rows: 10fr 1fr;
}



@media (max-width: 768px){
.content{
    height: fit-content;
    grid-template-columns: minmax(300px,auto);
    grid-template-rows:none;
    width:100%;
    gap:5px;
}

.listOfDialogs{
box-shadow:2px 3px rgb(192, 192, 192);
border-radius:15px;
margin-bottom: 10px;
height:400px;
}

.messenger{
    height:86vh;
}

.chats{
    display: block !important;
    text-align: center;
    cursor:pointer;
    padding:2px;
    margin-bottom: 5px;
    box-shadow:2px 3px rgb(192, 192, 192);
    border:1px solid black;
    border-radius:15px;
    font-weight: bold;
}

}

/*///////////////////////////////////////// DIALOGS */


.messageHistory{
    width:100%;
    overflow:auto;
}

.textWrapper{
    margin-top: 20px;
    width:100%;
    position:relative;
}


.userInput_text{
    position:absolute;
    bottom:0;
    width: calc(100% - 56px);
    height:35px;
    resize: none;
font-size: 20px;
}

.buttonSend{
    position:absolute;
bottom:0;
right:0;
    height:40px;
    width:50px;
}

.chats{
display: none;
}